body {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*I hate Firefox and everything it stands for*/
  border-style: solid;
  border-width: 6px;
  -moz-border-image: url("/assets/img/b1.png") 6 round;
  -webkit-border-image: url("/assets/img/b1.png") 6 round;
  -o-border-image: url("/assets/img/b1.png") 6 round;
  border-image: url("/assets/img/b1.png") 6 round;

  background-image: url("/assets/img/b3.png");
  background-size: 100% auto;
  overflow-x: hidden;
  overflow-y: hidden;

  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 0.5s;
}

  @media screen and (max-height: 779px) {
    body {
      padding: 0;
      overflow-y: auto;
    }
  }
  @media screen and (max-width: 949px) {
  }

div.images {
  display: inline-block;
  position: relative;
  width: 200;
  height: 1;
  left: -300;
  top: -350;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.images {
      /* For some reason, the emote is above the spinning background, but below the "Oregon Trail II Randomizer" text. I need to fix this. */
      position: fixed;
      top: -200px;
      width: 100px;
      max-width: 100px;
      z-index: -999;
    }
  }

div.h1 {
  font-size: 350%;
  font-weight: bold;
  font-family: 'Alegreya', serif;
}

img.glow {
  position: absolute;
  left: 5px;
  top: 0px;
  z-index: -999;
}

img.wagon {
  transform: scale(.5);
  -ms-transform: scale(.5);
  -webkit-transform: scale(.5);
  position: absolute;
  left: 5px;
  top: 0px;
  z-index: 1;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
  }

div.box {
  position: relative;
  padding: 40px;
  font-size: 130%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 800;
  height: 460; /* If width or height are commented out, the image repeats itself */
  background-color: #F7EDCF;
  z-index: 50;
  background-image: url("/assets/img/b4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y: hidden;
}

  @media screen and (max-height: 779px) {
    div.box {
      padding-left: 0px;
      height: auto;
    }
  }
  @media screen and (max-width: 949px) {
    div.box {
      background-image: url("/assets/img/b4-vertical.png");
      padding-left: 0px;
      width: 80%;
      overflow-y: auto; /* Allow scrolling on mobile devices */
    }
  }

div.content {
  position: relative;
  /*height: 100%;
  width: 100%;*/
  background-size: 100% auto;
  font-family: 'Alegreya', serif;
  overflow-y: hidden;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

div.column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.column.teams {
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.column.teams:not(.list) {
      display: block;
    }
  }

div.column.teams.list {
  margin-left: -2em;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.column {
      display: block;
    }
    div.column.teams {
      display: inline;
    }
    div.column.teams.list {
      margin-left: 0em;
    }
  }

div.age {
  min-width: 2.5em;
}

div.row {
  display: flex;
}

div.row.accompanied {
  display: inline;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.age {
      margin-left: -0.25em;
    }
    div.row {
      display: flex;
      margin-left: 1.5em;
      /* Things that seem to work
      inline-flex - but "," and "age" are on different lines
      flex - same as above
      also use flex-direction: row;
      */
    }
    div.row.accompanied {
      margin-left: 2.1em;
      margin-bottom: -1.5em;
      /*display: flex;*/
      display: contents;
    }
  }
  @media screen and (max-width: 440px) {
    /* For very small screens, otherwise this would overflow */
    div.row {
      margin-left: -1em;
    }
  }

div.trail-journal {
  
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.trail-journal {
      margin-top: 1em;
      margin-left: -0.25em;
      min-width: 10em;
    }
  }  

div.emote-message {
  margin-bottom: -1em;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.emote-message {
      /*margin-left: 2em;*/
    }
  }

p.options {
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    p.options {
      margin-top: 1em;
      margin-left: -0.25em;
      min-width: 10em;
    }
  }

p.desktop-spacer {
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    /* Only present on 2-column layouts. */
    p.desktop-spacer {
      display: none;
    }
  }

button {
  margin: 3px;
  border-top: 1px solid #f7ecd9;
  background: #cc9b60;
  background: -webkit-linear-gradient(top, #f0d38f, #e9be66);
  background: -moz-linear-gradient(top, #f0d38f, #e9be66);
  background: -ms-linear-gradient(top, #f0d38f, #e9be66);
  background: -o-linear-gradient(top, #f0d38f, #e9be66);
  padding: 3px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  color: #0d0d0c;

  font-family: 'Alegreya', serif;
  text-decoration: none;
  vertical-align: middle;
}

button: hover {
  border-top-color: #bf9143;
  background: #bf9143;
  color: #f0eee4;
}

button: active {
  border-top-color: #423105;
  background: #423105;
}

button: disabled {
  border-top-color: #423105;
  background: #423105;
  color: #f0eee4;
}

button.dont-press {
  font-size: 100%;
  font-weight: bold;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    button.dont-press {
      /*margin-left: 2em;*/
    }
  }

input {
  text-align: center;
  margin: 5;
  font-family: 'Alegreya', serif;
  font-size: 80%;
  padding: 0;
  border: 1px solid #000000;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    input {
      /*display: flex;
      flex-direction: row;*/
      padding-right: 1px;
    }
  }

input.drop {
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background: #FFFFFF url("/assets/img/arrow.png") no-repeat;
  background-position: right;
  padding: 1px 16px 1px 1px;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    input.drop {
      /*display: inline-block;*/
      padding-right: 1px;
    }
  }

input.emote-box {
}
  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    input.emote-box {
      /*margin-left: 3.5em;*/
    }
    input.option-box.large {
      margin-left: -0.25em;
    }
  }

input.name-input {
  margin-top: 0.5em;
}

input.readonly-input {
  background: #E0E0E0;
}

input.readonly-input.arrow {
  background: #E0E0E0 url('/assets/img/arrow.png') no-repeat right;
}

span.footer {
  opacity: 0.6;
}

.hide {
  display: none;
}

@media screen and (max-height: 779px) {
}
@media screen and (max-width: 949px) {
  .mobile-hide {
    display: none;
  }
}